body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #eacaa2;
  color: rgb(161, 79, 150);
}

header {
  padding: 20px;
  background: rgb(241, 226, 177);
  position: sticky;
  top: 0;
  border-bottom: 1px solid #ddd;
}

h1 {
  margin: 10px 0 10px;
  color: rgb(161, 79, 150);
  text-align: center;

}
h2 {
  margin: 10px 0 10px;
  color: rgb(161, 79, 150);
  text-align: center;

}

h3 {
  margin: 10px 0 10px;
  size: 5px;
  color: rgb(113, 24, 101);
  text-align: center;
}

.category-filters {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
  color: rgb(161, 79, 150);
}

.filter-btn {
  border: none;
  padding: 10px 14px;
  border-radius: 100px;
  cursor: pointer;
  background: #eacaa2;
  transition: .2s;
 
}

.filter-btn:hover {
  transform: translateY(-2px);
  
}

.filter-btn.active {
  background: #ebc597;
  color: white;
}

#search {
  width: 95%;
  align-items: end;
  padding: 10px;
  border: 1px solid lab(37.02% -0.97 10.04);
  border-radius: 100px;
  background-color: antiquewhite;
}

.whatsapp-btn a {
  display: block;
  text-align: center;
  margin-top: 12px;
  padding: 10px;
  background: #5fc083;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

.whatsapp-btn a:hover {
  opacity: 0.9;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;

}

.card {
  display: flex;
  background:rgb(243, 236, 214);
  border-radius: 12px;
  padding: 20px;
  flex-direction: column;
  box-shadow: 0 4px 14px rgba(0,0,0,.08);
  align-items: center;
  font-size: small;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px); /* Efecto sutil al pasar el mouse */
}
.card img {
  width: 50%;
  height: auto;
  background-color: 10px 4px 14px rgba(0, 0, 0, 0.08);
  aspect-ratio: 1 / 1;
  object-fit: contain; /* Para que no se corte el producto */
  mix-blend-mode: multiply; 
  margin-bottom: 15px;
}

.card img:hover {
  transform: translateY(-5px); /* Efecto sutil al pasar el mouse */
}

.card-content {
  padding: 15px;
}

.card h3 {
  margin: 0 0 10px;
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  margin-bottom: 5px;
}

.stock {
  font-size: 14px;
  color: #666;
}

.Color {
  font-size: 14px;
  color: #666;
}

.cart-panel {
  margin: 20px;
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100vh;
  background: rgb(243, 236, 214); 
  box-shadow:
    0 4px 12px  rgb(113, 24, 101);
  padding: 20px;
  overflow-y: auto;
  z-index: 9999;
  border-radius: 12px;

}

.qty-input {
  width: 60px;
  margin-top: 10px;
  border-radius: 8px;
  justify-content: center;
  color:   rgb(113, 24, 101);
}

.add-cart-btn {
  margin-left: 10px;
  padding: 8px 12px;
  cursor: pointer;
  color: rgb(161, 79, 150);
  background: #eacaa2;
  border-radius: 8px;
    box-shadow:
    0 4px 12px  rgb(113, 24, 101);
  
}

.Whatsapp-btn {
  margin-left: 10px;
  padding: 8px 12px;
  cursor: pointer;
  color: rgb(113, 24, 101);
  background: #5fc083;
  border-radius: 8px;
    box-shadow:
    0 4px 12px  rgb(113, 24, 101);


}

.cart-item  {
  margin-bottom: 10px;
}
 
  


.cart-icon {
  position: sticky;
  cursor: pointer;
  font-size: 28px;
  display: inline-block;
}

#cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background:rgb(161, 79, 150);
  color: white;
  border-radius: 50%;
  min-width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}


.hidden {
  display: none;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#close-cart {

  width: 40px;
  height: 40px;

  border-radius: 10px;

  border: 3px solid #222;

  background: #dfc29d;

  color: #a24ca2;

  font-size: 20px;

  cursor: pointer;

  box-shadow: 0 0 12px rgba(162,76,162,.5);

  transition: .2s;
}

#close-cart:hover {
  transform: scale(1.05);
}